a {
	color: #FFFFFF;
}

.poster {
    border-style: solid;
    border-color: lightcoral;
    border-width: 5px;
    /*margin-bottom: 30px;*/
}
.poster-bottom {
    margin-bottom: 30px;
}

.perso-poster {
    border-style: solid;
    border-color: lightcoral;
    border-width: 5px;
}

.perso-course h1 {
    color: lightgrey;
}

.lightgrey {
    color: lightgrey;
}

.btn-danger {
    border-color: white;
}

.my-buttons {
    margin-bottom: 30px;
}

.perso-username {
    margin-bottom: 30px;
}

.my-arrow {
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
}

.my-arrow:hover {
    color: lightgrey;
    margin-bottom: 20px;
    font-size: 20px;
}

.my-a:hover {
    color : lightgrey;
    text-decoration: none;
}

.header-left {
    margin-top : 9px;
    text-align: left;
}

.header-right {
    margin-top : 9px;
    text-align: right;
}

.header-title {
    margin-top : 8px;
    text-align: center;
    color : darkorange;
}

.header-title h4 {
    font-weight: bold;
}

.body-title {
    margin-bottom: 50px;
}

.poster-title {

}

h2 {
    color: orange;
    font-size: 5em;
}

h3 {
    color: orange;
    text-align: right;
    font-size: 3em;
}

.mymap {
	margin-bottom: 20px;
}
